body {
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(green, yellow, red);
    font-style: italic;
}

button.hover {
    background-color: aliceblue;
    color: brown;
}

button.click {
    color: yellow;
}

h1 {
    background-blend-mode: saturation;
}